ion-content {
    --background: #ffffffd6; // Fondo blanco para todo el contenido
    display: flex;
    flex-direction: column; // Asegura que los elementos hijos se apilen verticalmente
    padding: 0; // Elimina el padding para evitar desplazamientos
    box-sizing: border-box;
  }
  
  app-header {
    flex-shrink: 0; // Evita que el header se encoja
  }

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 60%;
    width: 100%;
}

.clases {
    width: 80%;
    max-width: 800px;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

.clases thead {
    background-color: #ffbf00;
    color: white;
}

.clases th, .clases td {
    padding: 12px;
    text-align: center;
    color: #000000;
    border-bottom: 1px solid #000000;
}

.clases th {
    font-size: 1.1em;
    text-transform: uppercase;
}

.clases tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.clases tbody tr:hover {
    background-color: #f1f1f1;
}
#qr-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    height: 60%;
    width: 100%;
    background-color: black;
}