<ion-content>
  <app-header></app-header>
  <div class="contenedor">
  <table class="clases">
    <thead>
        <tr>
            <th>Asignatura</th>
            <th>Asistencia</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Matemáticas</td>
            <td><ion-button [routerLink]="('a')" class="boton">Generar QR</ion-button></td>
        </tr>
        <tr>
            <td>Lenguaje</td>
            <td><ion-button [routerLink]="('a')" class="boton">Generar QR</ion-button></td>
        </tr>
    </tbody>
</table>
</div>
</ion-content>