<ion-content>
  <div class="padre">
    <div class="cabecera">
      <span class="titulo">RegistrAPP</span>
      <ion-img class="logo" src="../../assets/img/duoc.png" alt="Asistencia"></ion-img>
    </div>
    <div>
      <ion-input label="Usuario" labelPlacement="floating" [counter]="true" maxlength="50" [(ngModel)]="usuario"></ion-input>

    <ion-input  type="password" label="Contraseña" labelPlacement="floating" [counter]="true" maxlength="50" [(ngModel)]="clave"></ion-input>
    </div>
    @if (isLoading) {
      <ion-spinner name="bubbles" ></ion-spinner>
    }
    @else{
    <ion-text color="danger" *ngIf="loginFail">
      Usuario o clave incorrectos.
    </ion-text>
    }
    <ion-button (click)="login(usuario, clave)" shape="round">Ingresar</ion-button>
    <a [routerLink]="('password')">Recuperar contraseña</a>
  </div>


</ion-content>
