<ion-content>
  <app-header></app-header>
  <div class="contenedor">
    <div class="seleccion-clase">
      <label for="clase-select">Selecciona una clase:</label>
      <select id="clase-select" class="clase-select">
        <option value="matematicas">Matemáticas</option>
        <option value="lenguaje">Lenguaje</option>
        <!-- Agrega más opciones de clases aquí -->
      </select>
    </div>
    <table class="registro-asistencia">
      <thead>
        <tr>
          <th>Nombre del Estudiante</th>
          <th>Fecha</th>
          <th>Estado de Asistencia</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Juan Pérez</td>
          <td>2024-09-25</td>
          <td>Presente</td>
        </tr>
        <tr>
          <td>Maria González</td>
          <td>2024-09-25</td>
          <td>Ausente</td>
        </tr>
        <tr>
          <td>Carlos Ramírez</td>
          <td>2024-09-25</td>
          <td>Presente</td>
        </tr>
        <!-- Agrega más filas para otros estudiantes -->
      </tbody>
    </table>
  </div>
</ion-content>
