ion-content {
  --background: #ffffffd6; // Fondo blanco para todo el contenido
  display: flex;
  flex-direction: column; // Asegura que los elementos hijos se apilen verticalmente
  padding: 0; // Elimina el padding para evitar desplazamientos
  box-sizing: border-box;
}

app-header {
  flex-shrink: 0; // Evita que el header se encoja
}

.contenedor-menu {
  display: flex;
  justify-content: center; // Distribuye los elementos uniformemente
  align-items: center;
  padding: 20px;
  height: 80%;
  width: 100%; // Asegura que el contenedor ocupe todo el ancho
  box-sizing: border-box; // Incluye el padding en el ancho total
  flex-shrink: 0; // Evita que el contenedor se encoja
}

.menu {
  width: 80%;               /* Ancho del cuadro */
  padding: 20px;              /* Espacio interno del cuadro */
  border: 2px solid #000;      /* Borde del cuadro */
  border-radius: 10px;         /* Esquinas redondeadas */
  display: flex;               /* Flexbox para alinear los enlaces */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;                  /* Espacio entre los enlaces */
  background-color: #1b224f;   /* Color de fondo del cuadro */
}

ion-button{
  width: 60%;                  /* Ancho del enlace */
  padding: 10px 20px;           /* Tamaño del enlace */
  background-color: #ffbf00;;    /* Color de fondo del enlace */
  color: white;                 /* Color del texto */
  text-decoration: none;        /* Quitar el subrayado de los enlaces */
  border-radius: 5px;           /* Esquinas redondeadas */
  border: none;                 /* Sin borde */
  display: inline-block;        /* Permitir que el enlace se comporte como botón */
  text-align: center;           /* Centrar el texto */
  cursor: pointer;              /* Cambiar el cursor cuando se pasa por encima */
  transition: background-color 0.3s; /* Transición suave para hover */

}
ion-button:hover {
  background-color: #0056b3;    /* Cambiar el color al pasar el mouse */
}
