<ion-content>
  <div class="padre">
    <div class="cabecera">
      <span class="titulo">RegistrAPP</span>
      <ion-img class="logo" src="../../assets/img/duoc.png" alt="Asistencia"></ion-img>
    </div>
    <div>
      <ion-input label="Nombre" labelPlacement="floating" [counter]="true" maxlength="50" [(ngModel)]="nombreCompleto"></ion-input>

      <ion-input label="Usuario" labelPlacement="floating" [counter]="true" maxlength="50" [(ngModel)]="usuario"></ion-input>

      <ion-input  type="password" label="Contraseña" labelPlacement="floating" [counter]="true" maxlength="50" [(ngModel)]="clave"></ion-input>

      <ion-label labelPlacement="floating">Tipo:</ion-label>
      <ion-select [(ngModel)]="tipo">
        <ion-select-option value="Profesor">Profesor</ion-select-option>
        <ion-select-option value="Alumno">Alumno</ion-select-option>
      </ion-select>

    </div>

    <ion-button (click)="registrar()" shape="round">Registrar</ion-button>
  </div>


</ion-content>
